<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.thenneem.omnitrail">
    <!--
         The ACCESS_COARSE/FINE_LOCATION permissions are not required to use
         Google Maps Android API v2, but you must specify either coarse or fine
         location permissions for the "MyLocation" functionality.
    -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_omnitrail_launch"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_omnitrail_launch_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">
        <activity android:name=".TrailDetailActivity"
            android:theme="@style/FullscreenTheme"/>
        <activity android:name=".TrailActivity" />
        <activity android:name=".GalleryActivity" />
        <activity android:name=".LoginActivity" />
        <activity
            android:name=".OmniHomeActivity"
            android:label="@string/title_activity_omni_home" />
        <!--
             The API key for Google Maps-based APIs is defined as a string resource.
             (See the file "res/values/google_maps_api.xml").
             Note that the API key is linked to the encryption key used to sign the APK.
             You need a different API key for each encryption key, including the release key that is used to
             sign the APK for publishing.
             You can define the keys for the debug and release targets in src/debug/ and src/release/.
        -->
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyBnSf0GItSQwWXUwjhdwcWPKlOcj8CCf8E"/>

        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <uses-library
            android:name="org.apache.http.legacy"
            android:required="false" />

        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id" />
        <!--
               Set to true if your app is Standalone, that is, it does not require the handheld
               app to run.
        -->
        <provider
            android:name="com.facebook.FacebookContentProvider"
            android:authorities="com.facebook.app.FacebookContentProvider449082165999605"
            android:exported="true" />

        <activity
            android:name="com.facebook.FacebookActivity"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:label="@string/app_name" />
        <activity
            android:name="com.facebook.CustomTabActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="@string/fb_login_protocol_scheme" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity_about"
            android:label="@string/title_activity_acbout" />
        <activity
            android:name=".activity_howitworks"
            android:label="@string/title_activity_acbout" />
        <activity
            android:name=".Home"
            android:label="@string/title_activity_home"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Omnihome"
            android:label="@string/title_activity_omnihome"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".OmnihomeActivity"
            android:label="@string/title_activity_omnihome"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".BookActivity" />
        <activity
            android:name=".SaintHome"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/title_activity_saint_home"
            android:theme="@style/FullscreenTheme" />
        <activity
            android:name=".TempleHome"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/title_activity_temple_home"
            android:theme="@style/FullscreenTheme" />
        <activity
            android:name=".ReligionHome"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/title_activity_religion_home"
            android:theme="@style/FullscreenTheme"
            android:usesCleartextTraffic="true">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".FullscreenActivity" />
        </activity>


        <activity
            android:name=".ProfileTab"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/title_activity_profile"
            android:theme="@style/FullscreenTheme"
            android:usesCleartextTraffic="true">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".FullscreenActivity" />
        </activity>


        <activity
            android:name=".SplashActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/app_name"
            android:theme="@style/FullscreenTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".FullscreenActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/app_name"
            android:theme="@style/FullscreenTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
            </intent-filter>
        </activity>
        <activity android:name=".AddTempleActivity" />
        <activity android:name=".AddSaintActivity" />
    </application>

</manifest>